<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Find My Price</title>
</head>
<body>
    <h1>FIND MY PRICE</h1>
    <form action="/buscar" method="post">
        <input type="text" name="producto" placeholder="Buscar producto..." required>  
        <button type="reset">←</button>
        <button type="submit">Buscar</button>
    </form>
    <div class = imagenes>
        <img src="../static/iphonemenu.png">
        <img src="../static/motomenu.png" width="550px">
        <img src="../static/tvmenu.png" width="550px">
    </div>
    <footer>
        <p1>© 2025 Mi Página Web. Todos los derechos reservados.</p1>
    </footer>
    
</body>
</html>